<a href="https://colab.research.google.com/github/equester/TataTelecomAI/blob/master/TATA_CLassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np                                                 # Implemennts milti-dimensional array and matrices
import pandas as pd                                                # For data manipulation and analysis
import pandas_profiling
import matplotlib.pyplot as plt                                    # Plotting library for Python programming language and it's numerical mathematics extension NumPy
import seaborn as sns                                              # Provides a high level interface for drawing attractive and informative statistical graphics
%matplotlib inline
sns.set()

from subprocess import check_output

In [0]:
data = pd.read_csv("https://raw.githubusercontent.com/equester/TataTelecomAI/master/Sample%20Data/data_P.csv")

In [17]:
data.tail(5)

,Incoming Attempts,Normal Term Seizures,Answered Calls,Normal Not Answer Calls,Outgoing Seizures,FEV Seizures,Network Conversation Minutes,NER,ACD,New Pricing Service
545,1203,348,100,248,360,1,222.316667,96.935933,2.223167,Corporate
546,11272,8553,235,8318,8576,22,661.883333,99.988310,2.816525,Call Center
547,53099,44837,13750,31087,48122,1965,37163.766670,97.140195,2.702819,Corporate
548,1325,1112,30,1082,1153,37,96.050000,99.641577,3.201667,Call Center
549,48929,47024,25699,21325,47652,533,83347.633330,99.798383,3.243225,Corporate

In [0]:
feature_cols = ['Incoming Attempts',	'Normal Term Seizures'	,'Answered Calls','Normal Not Answer Calls',	'Outgoing Seizures',	'FEV Seizures',	'Network Conversation Minutes',	'NER', 'ACD']                # create a Python list of feature names
X = data[feature_cols]

In [19]:
print(type(X))
print(X.shape)

<class 'pandas.core.frame.DataFrame'>
(550, 9)

In [20]:
X = data.loc[:,data.columns != 'New Pricing Service']
X.head()

,Incoming Attempts,Normal Term Seizures,Answered Calls,Normal Not Answer Calls,Outgoing Seizures,FEV Seizures,Network Conversation Minutes,NER,ACD
0,41,41,40,1,41,0,14.533333,100.000000,0.363333
1,239,49,11,38,71,14,36.666667,85.964912,3.333333
2,8019,459,188,271,643,103,1435.066667,85.000000,7.633333
3,10,8,8,0,8,0,13.133333,100.000000,1.641667
4,117,96,13,83,112,4,64.016667,88.888889,4.924359

In [0]:
y = data['New Pricing Service']

In [23]:
y.unique()

array(['Call Center', 'Corporate'], dtype=object)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [25]:
print('Train cases as below')
print('X_train shape: ',X_train.shape)
print('y_train shape: ',y_train.shape)
print('\nTest cases as below')
print('X_test shape: ',X_test.shape)
print('y_test shape: ',y_test.shape)

Train cases as below
('X_train shape: ', (440, 9))
('y_train shape: ', (440,))

Test cases as below
('X_test shape: ', (110, 9))
('y_test shape: ', (110,))